<p> <%= t('welcome_message') %> </p>

<%= link_to t('links.log_out'), destroy_user_session_path, data: { turbo_method: :delete } %>

<%= link_to t('links.user_account'), accounts_path %>

<%= render partial: "home_pages/partials/transaction_form" %>
