<div class="navbar fixed-bottom">
  <footer class="text-center text-lg-start fixed-bottom">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <%= link_to t('links.home_page'), root_path, class: 'nav-link px-2 text-muted' %>
      </li>
      <li class="nav-item">
        <%= link_to t('links.user_account'), root_path, class: 'nav-link px-2 text-muted' %>
      </li>
    </ul>
    <p class="text-center text-muted"> <%= t('footer_title')%> </p>
  </footer>
</div>
