<h1> <%= I18n.t('account.user_account') %> </h1>

<%= link_to I18n.t('links.home_page'), root_path %>


<%= render partial: "accounts/partials/credit_card_info" %>

<%= render partial: "accounts/partials/transactions" %>
